/* --- CTA Section --- */
.cta-section {
    padding: 70px 0;
    /* Создает эффект "разреза" фона: половина белая, половина серая */
    background: linear-gradient(180deg, #ffffff 50%, var(--border-light) 50%);
}

.cta-card {
    position: relative;
    background-color: var(--dark-blue);
    padding: 41px 40px;
    overflow: hidden;
    box-shadow: 0px 18px 31px -15px rgba(15, 56, 90, 0.6);
}

/* Декоративные свечения (Blur) */
.cta-card__glow {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #0cbcf1;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.4;
    z-index: 1;
}

.cta-card__glow--top {
    top: -150px;
    right: -50px;
}

.cta-card__glow--bottom {
    bottom: -150px;
    right: 150px;
}

.cta-card__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.cta-card__user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cta-card__avatar {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.cta-card__title {
    color: #ffffff;
    font-size: 33px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.cta-card__description {
    color: #c2d0dc;
    font-size: 16px;
    /* max-width: 500px; */
}

/* Кнопка */
.btn-white {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    background: #ffffff;
    color: var(--text-dark);
    text-decoration: none;
    padding: 18px 34px;
    font-weight: 700;
    font-size: 15px;
    transition: background var(--transition-fast);
    white-space: nowrap;
}

.btn-white:hover {
    background: #f8f9fa;
}

.btn-white__icon {
    width: 18px;
    height: 18px;
}

/* Адаптивность */
@media (max-width: 1200px) {
    .cta-card__title {
        font-size: 28px;
    }
}

@media (max-width: 1024px) {
    .cta-card__content {
        flex-direction: column;
        align-items: flex-start;
    }

    .cta-card__actions {
        width: 100%;
    }

    .btn-white {
        width: 100%;
        justify-content: center;
    }

    .cta-card {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .cta-card__title {
        font-size: 24px;
    }

    .cta-card {
        padding: 30px 20px;
    }
}

@media (max-width: 640px) {
    .cta-section {
        padding: 30px 0px;
    }
    .cta-card__title {
        font-size: 22px;
        margin-bottom: 4px;
    }
    .cta-card__description {
        font-size: 14px;
    }
    .cta-card__user {
        gap: 15px;
        align-items: flex-start;
    }
    .cta-card__avatar {
        width: 54px;
        height: 54px;
    }

    .btn-white {
        font-size: 14px;
        padding: 0px 30px;
        height: 60px;
        justify-content: space-between;
    }
}


@media (max-width: 340px) {
    .cta-card__title {
        font-size: 20px;
    }
}