:root {
    /* Цвета из макета */
    --footer-bg: #eceeee;
    --footer-watermark: #e5e9ea;
    --text-muted: #758589;
    --accent-blue: #009bc8;
    --dark-blue: #0f385a;
    --text-dark: #272425;
}

/* --- FOOTER STYLES --- */
.footer {
    background-color: var(--footer-bg);
    font-family: "Roboto", sans-serif;
}

.footer__main {
    padding: 40px 0;
    position: relative;
    overflow: hidden;
}

.footer__container {
    display: grid;
    /* 4 колонки на десктопе */
    grid-template-columns: 1.2fr 1fr 1.2fr 1.14fr;
    gap: 30px;
    position: relative;
    z-index: 2;
}

/* Водяной знак внутри контейнера */
.footer__watermark {
    position: absolute;
    top: -36px;
    left: 15px;
    width: 366px;
    height: 620px;
    /* background-color: var(--footer-watermark); */
    z-index: -1;
}

.footer__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #000;
}

.footer__label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer__description {
    font-size: 14px;
    color: var(--text-muted);
    line-height: 1.4;
    margin: 14px 0 25px;
}

.footer__col--nav,
.footer__col--categories {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__list {
    list-style: none;
}

.footer__list li {
    margin-bottom: 2px;
    line-height: 140%;
}

.footer__list a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-gray);
    transition: color 0.3s;
}

.footer__list a:hover {
    color: var(--accent-blue);
}

/* Контакты */
.contact-item {
    margin-bottom: 24px;
}
.contact-item span,
.address-item span {
    display: block;
    font-size: 14px;
    color: var(--text-muted);
}

.phone-link {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-dark);
    text-decoration: none;
}

.phone-link-sm {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-dark);
    text-decoration: none;
    line-height: 111%;
}

.callback-link {
    display: block;
    color: var(--accent-blue);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid var(--accent-blue);
    width: fit-content;
    margin-top: 5px;
}

.email-link {
    font-size: 22px;
    font-weight: 700;
    color: var(--accent-blue);
}

.address-item {
    margin-bottom: 24px;
}

.address-item p {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--text-dark);
}

/* Соцсети */
.footer__socials {
    display: flex;
    gap: 10px;
}
.social-btn {
    width: 40px;
    height: 40px;
    background: #d7e7eb;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-btn--ig {
    background: linear-gradient(107deg, #feda75 0%, #fa7e1e 26%, #d62976 50%, #962fbf 74%, #4f5bd5 100%);
}

/* Кнопка */
.footer__btn {
    width: 100%;
    height: 60px;
    background: var(--dark-blue);
    color: #fff;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-weight: 700;
    cursor: pointer;
}

.footer__btn span {
    font-size: 15px;
}

/* Bottom */
.footer__bottom {
    border-top: 1px solid rgba(15, 56, 90, 0.1);
    padding: 15px 0;
}

.footer__bottom-container {
    display: flex;
    justify-content: space-between;
}

.footer__copy,
.footer__policy a {
    font-size: 14px;
    color: var(--text-muted);
    text-decoration: none;
}

.footer__policy {
    display: flex;
    gap: 10px;
}

.footer__legal-info p {
    font-size: 14px;
    color: var(--text-gray);
}

@media (max-width: 991px) {
    .footer__container {
        display: flex;
        flex-direction: column;
    }

    .footer__col--brand {
        order: 0;
    }

    .footer__col--contacts {
        order: 1;
    }

    .footer__col--nav {
        order: 2;
    }

    .footer__col--categories {
        order: 3;
    }
}

@media (max-width: 640px) {
    .footer__main {
        padding-bottom: 20px;
    }
    .footer__bottom-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .footer__watermark {
        left: auto;
        right: 0;
        top: -36px;
        width: 288px;
    }
}

@media (max-width: 370px) {
    .footer__policy {
        flex-direction: column;
    }
}