.popular-queries {
    background-color: var(--white);
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
}

.popular-queries__title {
    color: var(--dark-grey);
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    margin-bottom: 30px;
}

.popular-queries__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.popular-queries__tag {
    min-height: 45px;
    padding: 10px 15px;
    border: 1px solid var(--bg-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.popular-queries__tag:hover {
    background-color: var(--bg-grey);
    border-color: #d1d4d4;
}

@media (max-width: 768px) {
    .popular-queries__title {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    
    .popular-queries__tags {
        gap: 10px;
    }
}

@media (max-width: 640px) {
    .popular-queries__tag {
        font-size: 10px;
        padding: 9px 7px;
        min-height: 30px;
    }
}