
.related-products {
    padding: 70px 0px;
}

.related-products-slider-wrapper {
    position: relative;
}

.related-products-slider {
    border-top: 1px solid var(--bg);
    border-left: 1px solid var(--bg);
}

.related-products-slider .swiper-slide {
    height: auto !important;
}

.related-products .section-title {
    margin-bottom: 30px;
}

.related-products .product-card {
    height: 99.9%;
}