/* 1. Global Variables & Design System */
:root {
    /* Colors (будем дополнять из Figma) */
    --cyan-color: #0cbcf1;
    --primary-color: #2563eb;
    --text-main: #1f2937;
    --text-muted: #6b7280;
    --bg-white: #ffffff;
    --bg-light: #f3f4f6;
    --primary-dark: #0f385a;
    --text-gray: #758589;
    --border-light: #eceeee;
    --accent-blue: #009bc8;
    --dark-blue: #0f385a;
    --dark-blue-02: #18578b;
    --bg-search: #eceeee;
    --text-dark: #272425;
    --transition-fast: 0.2s ease;
    --font-main: "Roboto", sans-serif;
    --font-size-xs: 12px;
    --text-dark-secondary: #272425;
    --text-light-gray: #c9d1d6;
    --bg-card-blue: #0f385a;
    --font-main: "Roboto", sans-serif;
    /* Spacing */
    --section-padding: 80px 0;
    --container-width: 1330px;
    --container-padding: 0 20px;

    /* Transitions */
    --transition-base: 0.3s ease;

    --bg-footer-main: #eceeee;
    --bg-social: #d7e7eb;
    --footer-border: rgba(15, 56, 90, 0.1);

    --color-bg-light: #eceeee;
    --color-text-gray: #758589;
    --color-accent-blue: #0f385a;

    --primary-blue: #0f385a;
    --dark-grey: #272425;
    --text-grey: #758589;
    --bg-grey: #eceeee;
    --white: #ffffff;
    --color-red: #dd333c;
}

/* 2. Reset & Base Styles */
* {
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    line-height: 1;
}

a {
    outline: none;
    text-decoration: none;
}

body {
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased; /* Делает шрифт более четким на Mac/iOS */
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-main);
    background-color: var(--bg-white);
}

img {
    max-width: 100%;
    display: block;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-family: var(--font);
}

.button {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
    transition: background-color 0.3s ease 0s;
}

.button span {
    font-weight: 700;
    font-size: 15px;
    white-space: nowrap;
}

.button svg {
    transition: transform 0.3s ease 0s;
}

.button-blue {
    color: #fff;
    background-color: var(--dark-blue);
}

.button-white {
    color: var(--text-dark);
    background-color: #ffffff;
}

.button-white:hover {
    background-color: #ebebeb;
}

.button-blue:hover {
    background-color: var(--dark-blue-02);
}

.button:hover svg {
    transform: translateX(2.5px);
}

.no-scroll {
    position: relative;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    /* top: 0; */
    width: 100%;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: var(--container-padding);
}

.section {
    padding: var(--section-padding);
}

/* --- Top Bar Component --- */
.top-bar {
    border-bottom: 1px solid var(--border-light);
    font-family: var(--font-main);
}

.top-bar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px; /* Эквивалент padding 10px сверху/снизу */
    max-width: var(--container-width);
}

/* Навигация */
.top-bar__list {
    display: flex;
    list-style: none;
    gap: 15px;
}

.top-bar__link {
    color: var(--text-gray);
    font-size: var(--font-size-xs);
    text-decoration: none;
    transition: color var(--transition-base);
    white-space: nowrap;
}

.top-bar__link span {
    transition: color 0.3s ease 0s;
}

.top-bar__link:hover,
.top-bar__link:hover span {
    color: var(--primary-dark);
}

.top-bar__link--discount {
    color: var(--color-red);
    font-weight: 500;
}

/* Инфо-блок справа */
.top-bar__info {
    display: flex;
    gap: 30px;
    align-items: center;
}

.top-bar__item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.top-bar__text {
    color: var(--text-gray);
    font-size: var(--font-size-xs);
}

/* Обновляем стили для img */
.top-bar__icon-img {
    width: 15px;
    height: 15px;
    object-fit: contain;
    flex-shrink: 0;
}

.top-bar__link:hover .top-bar__icon-img {
    /* Цвет при наведении (primary-color) */
    filter: invert(31%) sepia(94%) saturate(1915%) hue-rotate(212deg) brightness(96%) contrast(96%);
    transition: filter var(--transition-base);
}

.top-bar__item {
    display: flex;
    align-items: center;
    gap: 6px;
}
/* Адаптивность для Top Bar */
@media (max-width: 1024px) {
    .top-bar__nav {
        display: none; /* Скрываем мелкое меню на планшетах */
    }
}

/* --- Main Header Component --- */
.main-header {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-light);
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

.main-header__container {
    display: flex;
    align-items: center;
    gap: 25px;
    max-width: var(--container-width);
}

/* Logo */
.logo {
    text-decoration: none;
    flex-shrink: 0;
    max-width: 180px;
}
.logo__text {
    font-size: 14px;
    color: var(--dark-blue);
    text-transform: lowercase;
    margin-top: -5px;
}

/* Catalog & Search Group */
.main-header__search-group {
    display: flex;
    flex: 1;
    gap: 10px;
    min-width: 400px;
}

.btn-catalog {
    background: var(--dark-blue);
    color: #fff;
    border: none;
    height: 40px;
    padding: 0 25px;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background var(--transition-fast);
}

.btn-catalog:hover {
    background: #154a75;
}

.search-bar {
    flex: 1;
    display: flex;
    background: var(--bg-search);
    height: 40px;
    align-items: center;
    padding: 0 15px;
}

.search-bar__input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    color: var(--text-gray);
}

.search-bar__btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Contacts & Socials */
.main-header__contacts {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-icons {
    display: flex;
    gap: 8px;
}
.social-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-item-header {
}

.contact-item-header__desctop {
    display: flex;
    flex-direction: column;
}

.contact-item-header__label {
    font-size: 12px;
    color: var(--text-gray);
}

.contact-item-header__value {
    font-size: 17px;
    font-weight: 700;
    color: var(--text-dark);
    text-decoration: none;
    transition: color 0.3s ease 0s;
}

.contact-item-header__value--blue {
    color: var(--accent-blue);
    text-decoration: underline;
}

.contact-item-header__mobile-item {
    display: none;
}

.contact-item-header__value:hover {
    color: var(--accent-blue);
}

.contact-item-header__value--blue:hover {
    color: #0f385a;
}

/* Action Buttons & Badges */
.header-actions {
    display: flex;
    gap: 20px;
}

.action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 4px;
    position: relative;
}

.action-btn--catalog {
    display: none;
}

.action-btn__icon-wrapper {
    position: relative;
    width: 24px;
    height: 24px;
}
.action-btn__text {
    font-size: 10px;
    font-weight: 500;
    color: var(--text-dark);
}

.badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background: var(--accent-blue);
    color: #fff;
    font-size: 8px;
    font-weight: 700;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- Breadcrumbs Component --- */
.breadcrumbs {
    padding: 10px 0;
    background-color: var(--bg-white);
}

.breadcrumbs__container {
    max-width: var(--container-width);
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 7px;
    flex-wrap: wrap; /* Для мобильных устройств, чтобы не вылетало за экран */
}

.breadcrumbs__link {
    font-size: var(--font-size-xs);
    color: var(--accent-blue);
    text-decoration: none;
    transition: color var(--transition-base);
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}

.breadcrumbs__separator {
    font-size: var(--font-size-xs);
    color: var(--text-gray);
    user-select: none;
}

.breadcrumbs__current {
    font-size: var(--font-size-xs);
    color: var(--text-gray);
    pointer-events: none;
}

/* Оптимизация для мобилок: скролл, если крошки слишком длинные */
@media (max-width: 768px) {
    .breadcrumbs__list {
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

/* --- Category Hero Section --- */
.category-hero {
    padding: 20px 0 3px;
}

.category-hero__container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.category-hero__content {
    flex: 1;
}

.category-hero__header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.category-hero__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--text-dark-secondary);
}

.category-hero__count {
    font-size: 15px;
    color: var(--text-gray);
    font-weight: 500;
}

.category-hero__description {
    font-size: 14px;
    line-height: 1.4;
    color: var(--text-gray);
    margin-bottom: 15px;
}

.category-hero__description p {
    margin-bottom: 10px;
}

.category-hero__more {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark-secondary);
    cursor: pointer;
    padding: 0;
}

.category-hero__more-icon {
    width: 16px;
    transition: transform var(--transition-base);
}

.category-hero__description {
    font-size: 14px;
    line-height: 1.4;
    color: var(--text-gray);
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    /* Базовая высота 8 строк */
    max-height: 124px;
    /* Плавность для обоих направлений */
    transition: max-height 0.3s ease-in-out;
}

/* Эффект затенения */
.category-hero__description::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    transition: opacity 0.4s ease;
    pointer-events: none;
    z-index: 2;
}

/* Состояние при раскрытии */
.category-hero__description--expanded {
    /* Ставим высоту, которая точно больше текста, но не 10000px, 
       чтобы анимация вверх не "лагала" */
    max-height: 1000px;
}

.category-hero__description--expanded::after {
    opacity: 0;
}

/* Кнопка и иконка */
.category-hero__more-icon {
    width: 12px;
    display: inline-block;
    transition: transform 0.4s ease-in-out; /* Плавный поворот */
}

/* Поворот стрелки при активном классе на кнопке */
.category-hero__more--active .category-hero__more-icon {
    transform: rotate(180deg);
}

/* --- Manager Card --- */
.manager-card {
    margin-top: -4px;
    width: 450px;
    background: var(--bg-card-blue);
    background-image: url("img/mngr-bg.svg"); /* Те самые пузыри */
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover; /* Или contain, если хочешь точного позиционирования */
    padding: 30px;
    position: relative;
    overflow: hidden;
    color: #fff;
    padding-bottom: 25px;
}

/* Фоновые размытия (Blur Effect) */
.manager-card__glow {
    position: absolute;
    border-radius: 50%;
    filter: blur(60px);
    z-index: 0;
    opacity: 0.5;
}

.manager-card__glow--1 {
    width: 150px;
    height: 150px;
    background: var(--accent-blue);
    top: -50px;
    right: -50px;
}

.manager-card__glow--2 {
    width: 100px;
    height: 100px;
    background: #0cbcf1;
    bottom: -20px;
    right: 50px;
}

.manager-card > * {
    position: relative;
    z-index: 1;
}

.manager-card__profile {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.manager-card__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.manager-card__name {
    font-size: 14px;
    font-weight: 600;
}

.manager-card__post {
    font-size: 12px;
    color: var(--text-light-gray);
}

.manager-card__bubble {
    background: #fff;
    color: var(--text-dark-secondary);
    padding: 15px;
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 22px;
    position: relative;
}

/* Треугольник у бабла */
.manager-card__bubble::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 12px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.manager-card__contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

.manager-card__item {
    margin-bottom: 10px;
}
.manager-card__item:last-child {
    margin-bottom: 0;
}

.manager-card__label {
    display: block;
    font-size: 12px;
    color: var(--text-light-gray);
    margin-bottom: 3px;
}

.manager-card__link {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

.manager-card__link.mngr_phone {
    text-decoration: none;
}
.manager-card__socials {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.social-sq-btn {
    width: 45px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background var(--transition-base);
}

.social-sq-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.swiper-dotts {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 19px;
    margin-top: 17px;
}

.swiper-dotts .swiper-pagination-bullet {
    margin: 0 !important;
    width: 20px;
    height: 4px;
    background-color: #ffffff;
    position: relative;
    border-radius: 0px;
    opacity: 1; /* Swiper по умолчанию ставит opacity 0.2 */
    overflow: hidden; /* Чтобы заполнение не выходило за границы */
}

.swiper-dotts.swiper-dotts--grey .swiper-pagination-bullet {
    background-color: var(--border-light);
}

/* Создаем слой заполнения */
.swiper-dotts .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0; /* Изначально ширина 0 */
    height: 100%;
    background-color: var(--primary-dark);
    transition: width 0.4s ease-in-out; /* Плавное расширение */
}

/* Когда буллит становится активным, заполняем его */
.swiper-dotts .swiper-pagination-bullet-active::before {
    width: 100%;
}

/* Убираем стандартное изменение фона у самого буллита, 
   так как за него теперь отвечает псевдоэлемент */
.swiper-dotts .swiper-pagination-bullet-active {
    background-color: #ffffff;
}

.burger-menu-button,
.mobile-menu,
.mobile-search-container {
    display: none;
}

.search-bar {
    position: relative;
}

.search-results-dropdown {
    display: none;
    position: absolute;
    width: max-content;
    top: 46px;
    z-index: 10;
    left: 0;
    max-width: 450px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    overflow: hidden;
    padding: 13px 0;
}

.search-results__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 12px;
}

.search-results__title {
    font-weight: 500;
    font-size: 14px;
    color: #272425;
    margin: 0;
}

.search-results__all {
    font-size: 12px;
    color: #758589;
    text-decoration: none;
}

/* Стили карточки товара в поиске */
.search-results-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: background 0.2s;
}

.search-results-item:not(:last-child) {
    border-bottom: 1px solid #eceeee;
}

.search-results-item:hover {
    background: #f9fafa;
}

.search-results-item__img {
    width: 79px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-results-item__img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.search-results-item__info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
}

.search-results-item__name {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.4;
    color: #272425;
    text-decoration: none;
    margin-bottom: 5px;
}

.search-results-item__badges {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

/* Бейджи */
.search-results__badge {
    display: inline-flex;
    align-items: center;
    padding: 3px 7px;
    font-size: 7px;
    font-weight: 500;
    border-radius: 2px;
    gap: 3px;
}

.search-results__badge--success {
    background: #0cbc0f;
    color: #ffffff;
}

.search-results__badge--warning {
    background: #ffd400;
    color: #272425;
}

.search-results__badge--bonus {
    background: #eceeee;
    color: #0f385a;
}

/* Цены */
.search-item__price-block {
    text-align: right;
    min-width: 85px;
}

.search-results__price-current {
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #272425;
    white-space: nowrap;
}

.search-results__price-old {
    display: block;
    font-size: 12px;
    color: #758589;
    text-decoration: line-through;
}

/* Mobile */

@media (max-width: 1280px) {
    .top-bar,
    .contact-item-header__desctop {
        display: none;
    }
    .contact-item-header__mobile-item,
    .burger-menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: var(--color-bg-light);
    }

    .main-header__contacts {
        gap: 15px;
    }

    .logo {
        text-decoration: none;
        flex-shrink: 0;
        max-width: 145px;
    }

    .main-header {
        padding: 16px 0px;
    }

    .mobile-menu {
        display: block;
        position: fixed;
        top: 76px;
        right: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1000;
        overflow-y: auto;
        padding: 10px;
        transform: translateX(-100%);
        transition: 0.3s;
        border-top: 1px solid var(--border-light);
    }
    .mobile-menu.active {
        transform: translateX(0);
    }
    .top-bar__list {
        flex-direction: column;
        gap: 9px;
    }
    .mobile-menu__content {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .contact-item-header,
    .mobile-menu__contacts {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu__contacts {
        gap: 20px;
    }

    .top-bar__info {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .mobile-menu__send-btn {
        margin-top: -10px;
        padding: 20px 30px;
        background-color: var(--color-bg-light);
    }

    .mobile-menu__send-btn span {
        color: #272425;
    }

    .mobile-menu__button-catalog .btn-catalog {
        width: 100%;
        height: 60px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media (max-width: 1200px) {
    .category-hero__title {
        font-size: 24px;
    }
    .action-btn--comparison {
        display: none;
    }
    .main-header__container {
        gap: 20px;
    }
}

@media (max-width: 1024px) {
    .main-header__search-group .btn-catalog {
        display: none;
    }
    .main-header__search-group {
        min-width: 200px;
    }
    .action-btn--comparison {
        display: flex;
    }
}

@media (max-width: 992px) {
    .category-hero__container {
        flex-direction: column-reverse;
    }

    .manager-card {
        width: 100%;
    }

    .swiper-dotts {
        display: flex;
    }

    .slider-controls {
        display: none;
    }

    .manager-card__bubble {
        max-width: 450px;
    }

    .category-hero__description {
        max-height: 56px;
        margin-bottom: 8px;
    }

    .category-hero__description::after {
        display: none;
    }

    .main-header__container {
        gap: 15px;
    }

    .logo {
        max-width: 127px;
    }
}

@media (max-width: 850px) {
    .main-header__search-group {
        display: none;
    }
    .logo {
        margin-right: auto;
    }
    .mobile-search-container {
        display: block;
    }
    .main-header {
        border-bottom: none;
    }
    .search-results-dropdown {
        width: 100%;
        top: 40px;
        max-width: 100%;
    }
}

@media (max-width: 640px) {
    :root {
        --container-padding: 0 10px;
    }
    .breadcrumbs {
        padding: 5px 0px;
    }
    .category-hero {
        padding: 10px 0px 20px;
    }
    .category-hero__container {
        gap: 20px;
    }
    .category-hero__header {
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    .category-hero__title {
        font-size: 22px;
        line-height: 140%;
    }
    .manager-card {
        padding: 20px;
    }
    .manager-card__link {
        font-size: 14px;
    }
    .social-sq-btn,
    .manager-card__avatar {
        width: 40px;
        height: 40px;
    }
    .social-sq-btn img {
        width: 21px;
        height: 21px;
    }
    .manager-card__name {
        font-size: 12px;
    }
    .manager-card__post,
    .manager-card__bubble,
    .breadcrumbs__link,
    .breadcrumbs__current {
        font-size: 10px;
    }
    .manager-card__bubble {
        padding: 10px;
    }
    .category-card__name,
    .category-card__count {
        font-size: 10px;
    }
    .category-card__img {
        max-width: 79%;
    }
    .main-header {
        padding: 10px 0px 0px 0px;
    }
    .main-header__contacts,
    .social-icons,
    .main-header__container {
        gap: 7px;
    }
    .logo {
        max-width: 116px;
    }
    .mobile-search-container {
        padding: 10px 0px;
        margin-bottom: 10px;
    }
    .mobile-menu {
        top: 60px;
    }
    .search-results-item__img {
        width: 63px;
        height: 66px;
    }
    .search-results__price-current {
        font-size: 14px;
    }
    .search-results-item {
        padding: 10px;
    }

    .header-actions {
        position: fixed;
        width: 100%;
        height: 60px;
        bottom: 0;
        box-shadow: 0 -4px 14px 0 rgba(0, 0, 0, 0.05);
        background: #fff;
        z-index: 10;
        justify-content: space-around;
        align-items: center;
        margin: 0px -10px;
        gap: 0px;
    }

    .action-btn--catalog {
        display: flex;
    }

    .action-btn {
        gap: 3px;
        padding: 0px 20px;
        position: relative;
    }
    .action-btn::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 23px;
        right: 0;
        top: 9.5px;
        background-color: #eceeee;
    }

    .action-btn:last-child::before {
        display: none;
    }
}

@media (max-width: 370px) {
    .contact-item-header__mobile-item,
    .burger-menu-button,
    .social-btn {
        width: 35px;
        height: 35px;
    }
    .logo {
        max-width: 85px;
    }
    .mobile-menu {
        top: 54px;
    }
    .action-btn {
        padding: 0px 16px;
    }
}
